<div class="background-container">
    <img src="assets/images/hero.svg" alt="" class="background-image w-75">
    <div class="container">
        <div class="row text-center py-5">
            <div class="col-sm-12">
                <span class="pills">Experience</span>
                <div class="line"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="experince-img"><iframe
                        src="https://lottie.host/embed/c97392cb-3ed4-403a-a02b-39cc1241037b/fiP7l5jA1v.json"></iframe>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 fs-5">
                <div class="card">
                    <div class="card_heading">
                        <h5 class="m-0">(Dec 2024 - Present)</h5>
                    </div>

                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">Sr Software Engineer (FullStack)</p>
                            <p class="company-name">HawkLogix Digital Dream Lahore.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card_heading">
                        <h5 class="m-0">(Aug 2024 - Dec 2024)</h5>
                    </div>

                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">Sr Software Engineer (FullStack)</p>
                            <p class="company-name">Karma Software solutions Lahore.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card_heading">
                        <h5 class="m-0">(Sept 2022 - Aug 2024)</h5>
                    </div>

                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">Software Engineer (FullStack)</p>
                            <p class="company-name">Auto Smart Tech Lahore.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card_heading">
                        <h5 class="m-0">(Jan 2021 - Aug 2021)</h5>
                    </div>

                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">Software Engineer (FullStack)</p>
                            <p class="company-name">Logic Stone technology Gujranwala.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
